<div [formGroup]="parentForm">
  <div formArrayName="partyMembersInfo">
    <div *ngFor="let partyMember of parentForm.get('partyMembersInfo').controls; let i = index">
        <mat-radio-group [formControlName]="i" aria-label="Get party member info">
          <mat-radio-button value="coming"></mat-radio-button>
          <mat-radio-button value="maybe"></mat-radio-button>
          <mat-radio-button value="probablyNot"></mat-radio-button>
        </mat-radio-group>
    </div>
  </div>
</div>

