table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #b5e4f5;
}

p {
  text-align: center;
}