<h1 class="flex-row justify-content-center">Who's in your party?</h1>
<p style="margin-left:50px;margin-right:50px;text-align:center">
  Now that you know our vision, please let us know if you and the other members of your party would like to join us! Though we would absolutely love for everyone to be there, please do not feel pressured if it is not possible or likely—we will not be offended. In fact, we really need people to be as honest about their RSVP as possible, since we have to start making plans ASAP and need an accurate head-count right away. Thank you in advance for giving us an honest response, even if it’s a no!</p>
<div [formGroup]="parentForm">
  <div class="flex-column align-items-center" formArrayName="partyMembersInfo">
    <table class="mt-2" style="width:60%">
      <tr>
        <th>Guest</th>
        <th>I'll be there!</th>
        <th>Thats a maybe...</th>
        <th>Probably can't (sorry)</th>
      </tr>
      <div *ngFor="let partyMember of getControls(); let i = index">
        <mat-radio-group [formControlName]="i" aria-label="Get party member info" (change)="tableChange($event, i)">
          <tr>
            <td>{{ partyMembers[i] }}</td>
            <td><mat-radio-button value="coming"></mat-radio-button></td>
            <td><mat-radio-button value="maybe"></mat-radio-button></td>
            <td><mat-radio-button value="probablyNot"></mat-radio-button></td>
          </tr> 
        </mat-radio-group>
      </div>
    </table>
  </div>
  <div class="flex-column align-items-center mt-6">
    <mat-form-field appearance="outline" style="width:65%">
      <mat-label>If the table doesn't capture everything you want to say, feel free to elaborate here.</mat-label>
      <textarea matInput formControlName="elaborateOnInfo" (blur)="saveElaboration()" rows="5" class="dark-outline" style="font-size:85%"></textarea>
    </mat-form-field>
  </div>
</div>


