.m-1 {
  margin: calc(#{$medium-gap} * 1) !important;
}

.m-2 {
  margin: calc(#{$medium-gap} * 2) !important;
}

.m-3 {
  margin: calc(#{$medium-gap} * 3) !important;
}

.m-4 {
  margin: calc(#{$medium-gap} * 4) !important;
}

.m-5 {
  margin: calc(#{$medium-gap} * 5) !important;
}

.m-6 {
  margin: calc(#{$medium-gap} * 6) !important;
}

.mr-1 {
  margin-right: calc(#{$medium-gap} * 1) !important;
}

.mr-2 {
  margin-right: calc(#{$medium-gap} * 2) !important;
}

.mr-3 {
  margin-right: calc(#{$medium-gap} * 3) !important;
}

.mr-4 {
  margin-right: calc(#{$medium-gap} * 4) !important;
}

.mr-5 {
  margin-right: calc(#{$medium-gap} * 5) !important;
}

.mr-6 {
  margin-right: calc(#{$medium-gap} * 6) !important;
}

.ml-1 {
  margin-left: calc(#{$medium-gap} * 1) !important;
}

.ml-2 {
  margin-left: calc(#{$medium-gap} * 2) !important;
}

.ml-3 {
  margin-left: calc(#{$medium-gap} * 3) !important;
}

.ml-4 {
  margin-left: calc(#{$medium-gap} * 4) !important;
}

.ml-5 {
  margin-left: calc(#{$medium-gap} * 5) !important;
}

.ml-6 {
  margin-left: calc(#{$medium-gap} * 6) !important;
}

.mt-1 {
  margin-top: calc(#{$medium-gap} * 1) !important;
}

.mt-2 {
  margin-top: calc(#{$medium-gap} * 2) !important;
}

.mt-3 {
  margin-top: calc(#{$medium-gap} * 3) !important;
}

.mt-4 {
  margin-top: calc(#{$medium-gap} * 4) !important;
}

.mt-5 {
  margin-top: calc(#{$medium-gap} * 5) !important;
}

.mt-6 {
  margin-top: calc(#{$medium-gap} * 6) !important;
}

.mb-1 {
  margin-bottom: calc(#{$medium-gap} * 1) !important;
}

.mb-2 {
  margin-bottom: calc(#{$medium-gap} * 2) !important;
}

.mb-3 {
  margin-bottom: calc(#{$medium-gap} * 3) !important;
}

.mb-4 {
  margin-bottom: calc(#{$medium-gap} * 4) !important;
}

.mb-5 {
  margin-bottom: calc(#{$medium-gap} * 5) !important;
}

.mb-6 {
  margin-bottom: calc(#{$medium-gap} * 6) !important;
}