<img src="../../assets/images/stepper_banner.jpg" alt="Greece" class="center">

<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <!-- Our Vision -->
  <mat-step [stepControl]="ourVision">
    <form [formGroup]="ourVision">
      <ng-template matStepLabel>You're Invited!</ng-template>
        <app-our-vision [parentForm]="ourVision"></app-our-vision>
    </form>
  </mat-step>

    <!-- Who's In Your Party? -->
    <mat-step [stepControl]="identifyYourParty">
      <form [formGroup]="identifyYourParty">
        <ng-template matStepLabel>Who's In Your Party?</ng-template>
          <app-identify-your-party [parentForm]="identifyYourParty"></app-identify-your-party>
      </form>
    </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <!-- <button mat-button type="submit">Submit</button> -->
    </div>
  </mat-step>
</mat-horizontal-stepper>