<img src="../../assets/images/stepper_banner.jpg" alt="Greece" class="center">

<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <!-- Our Vision -->
  <mat-step [stepControl]="ourVision">
    <form [formGroup]="ourVision">
      <ng-template matStepLabel>You're Invited!</ng-template>
        <app-our-vision [parentForm]="ourVision"></app-our-vision>
    </form>
  </mat-step>

  <!-- Who's In? -->
  <mat-step [stepControl]="identifyYourParty">
    <form [formGroup]="identifyYourParty">
      <ng-template matStepLabel>Who's In?</ng-template>
        <app-identify-your-party [parentForm]="identifyYourParty"></app-identify-your-party>
    </form>
  </mat-step>

  <!-- Tell us your Dates -->
  <mat-step [stepControl]="relayConflicts">
    <form [formGroup]="relayConflicts">
      <ng-template matStepLabel>Tell us your Dates</ng-template>
        <app-relay-your-conflicts [parentForm]="relayConflicts"></app-relay-your-conflicts>
    </form>
  </mat-step>

  <!-- Quick Questionnaire -->
  <mat-step [stepControl]="questionnaire">
    <form [formGroup]="questionnaire">
      <ng-template matStepLabel>Quick Questionnaire</ng-template>
        <app-questionnaire [parentForm]="questionnaire"></app-questionnaire>
    </form>
  </mat-step>

  <!-- Submit RSVP -->
  <mat-step [stepControl]="rsvpInfo">
      <form [formGroup]="rsvpInfo">
        <ng-template matStepLabel>Submit RSVP</ng-template>
          <app-submit-rsvp [parentForm]="rsvpInfo"></app-submit-rsvp>
      </form>
  </mat-step>
  
</mat-horizontal-stepper>