<img src="../../assets/images/banner1.jpg" alt="Croatia" class="center">
<div align="right">
  <span class="mr-3"><i style="font-size:105%">Hvar Town, Croatia</i></span>
</div>
<div class="flex-column align-items-center">
  <h1>Sign In</h1>
  <p style="font-size:105%">We sent you a code! Please enter it below.</p>
    <form [formGroup]="signInForm">
      <div *ngIf="!showSpinner" class="flex-column align-items-center">
        <mat-form-field style="width:100%">
          <input matInput formControlName="code" placeholder="Enter your code here" required>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="login()" class="mt-2" color="primary">
          Submit
        </button>
      </div>
    </form>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
