<img src="../../assets/images/login_banner2.jpg" alt="Italian Trulli" class="center">

<div class="flex-column align-items-center">
  <h1>Sign In</h1>
  <form class="flex-column align-items-center">
    <mat-form-field>
      <input matInput [(ngModel)]="username" name="username" placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="password" name="password" placeholder="Password" type="password">
    </mat-form-field>
  </form>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  <button mat-raised-button (click)="login()" color="primary">
    Login
  </button>
  <p>Hello!</p>
</div>
