<img src="../../assets/images/banner1.jpg" alt="Croatia" class="center">
<div align="right">
  <span class="mr-3"><i style="font-size:105%">Hvar Town, Croatia</i></span>
</div>
<div class="flex-column align-items-center">
  <h1>Sign In</h1>
  <span class="mb-2" style="font-size:105%">We sent you a code! Please enter it below.</span>
    <form [formGroup]="signInForm">
      <div *ngIf="!showSpinner" class="flex-column align-items-center">
        <div>
          <mat-form-field style="font-size:105%;width:100%">
            <input matInput formControlName="code" placeholder="Enter your code here" required>
          </mat-form-field>
        </div>
        <mat-error *ngIf="loginFail" class="mb-2">{{ loginMsg }}</mat-error>
        <div class="flex-column align-items-center" *ngIf="loginError">
          <span style="font-weight:bold;font-size:120%;color:red">Sorry, an error has occurred!</span>
          <span class="mt-1 mb-2" style="color:red">{{ errorMsg }}</span>
        </div>
        <button mat-raised-button type="submit" style="font-size:120%" (click)="login()" class="mt-2" color="primary">
          Submit
        </button>
      </div>
    </form>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
