/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/grid.scss";
@import "./assets/scss/utilities.scss";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

.mat-checkbox-inner-container {
  background-color: white;
}